function transformCSVtoJSON(line) {
  var values = line.split(',');
  var properties =[ %{ for property in properties ~}
                    "${property}",
                    %{ endfor ~}];
  var dataStrings = {};

  if (values[0] === properties[0]) {
    return;
  } else {
    for (var count = 0; count < values.length; count++) {
      if (values[count] !== "null") {
        dataStrings[properties[count]] = values[count];
      }
    }
    var jsonString = JSON.stringify(dataStrings);
    return jsonString;
  }
}
